@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $p_font-regular
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong, .bold
	font-weight: bold
	font-family: $p_font-bold

.green
	color: $green
	font-family: $p_font-black

.blue
	color: $blue
	font-family: $p_font-black

.red
	color: $red
	font-family: $p_font-black

p
	font-family: $p_font-regular

.h, h1, h2, h3, h4
	font-family: $h_font
	text-transform: none
	letter-spacing: 3px

a
	font-family: $font

@keyframes smoke
	0%
		transform: rotateY(0deg) translateX(0) translateY(0)
		opacity: 0.6
	40%
		opacity: 1
	50%
		transform: rotateY(-25deg) translateX(20%) translateY(-10%)
		opacity: 0.7
	55%
		opacity: 1
	100%
		transform: rotateY(0deg) translateX(0) translateY(0)
		opacity: 0.6

@keyframes screenLight
    0%
        transform: scale(0.9)
    40%
        transform: scale(1)
        
    50%
        transform: scale(1.05)
        
    100%
        transform: scale(0.9)

@keyframes Light
    0%
        transform: scale(0.7)
    40%
        transform: scale(1)
        
    50%
        transform: scale(1.1)
        
    100%
        transform: scale(0.7)

@keyframes smokeSmal
	0%
		transform: scale(1)
		opacity: 1
	50%
		transform: scale(0.8) translateX(-10px)
		opacity: 0.5
	100%
		transform: scale(1)
		opacity: 1

// Главный экран сайта

.header
	background-image: url('../img/header/bg.jpg')
	background-position-y: bottom
	background-repeat: no-repeat
	background-size: cover
	height: 110vh
	margin-top: 30px
	&__content
		display: flex
		justify-content: center
		img
			position: absolute
			top: 3%
			left: -50%
			width: 150%
			opacity: 0.5
			z-index: 0
			animation: smoke 30s infinite 0s ease-in-out
	&__top
		background-image: url("../img/header/bg-top_line.png")
		background-repeat: no-repeat
		position: relative
		z-index: 1
		top: -30px
		&__phone
			float: right
			padding-top: 11px
			margin-right: 3px
			position: relative
			&::after
				content: ''
				width: 462px
				height: 155px
				background-image: url('../img/header/phone_bg.png')
				display: block
				opacity: 0.7
				position: absolute
				top: -70px
				left: 0
			span
				font-family: $font
				font-size: 30px
				color: $accent
				text-shadow: $text-shadow
				margin-left: -15px
				letter-spacing: 1px
			img
				height: 80px
				width: 80px
		&__clock
			margin-left: 32px
			position: relative
			&::before
				content: ''
				width: 366px
				height: 99px
				background-image: url('../img/header/clock_bg.png')
				display: block
				opacity: 0.7
				position: absolute
				top: 0
				left: 0
				z-index: -1
			div
				display: inline-block
				width: auto
				text-align: center
				font-family: $font
				font-size: 20px
				color: $main
				padding-top: 20px
				text-shadow: $text-shadow
				line-height: 1.2em
				margin-left: -25px
				letter-spacing: 1px
				span
					display: block
					font-size: 24px
			img
				margin: 0
				margin-top: -30px
				width: 99px
				height: 95px
				margin-right: -5px
		&__menu
			background-image: url("../img/header/menu.png")
			background-repeat: no-repeat
			background-size: contain
			width: 434px
			height: 811px
			margin-top: 9px
			margin-left: -40px
			ul
				list-style-type: none
				margin: 0
				padding: 0
				padding-top: 263px
				text-align: center
				li
					padding-bottom: 101px
					margin-left: -17px
					&:last-child
						color: $accent
					a
						font-size: 30px
						color: $main
						text-decoration: none
						transform: scale(1)
						display: block
						transition: all 0.1s ease
						text-shadow: $text-shadow
						text-transform: uppercase
						letter-spacing: 2px
						animation: yourAnimation 1s none 0s ease
						&:hover
							transform: scale(1.05)
						.last
							color: $accent

.about
	background-image: url("../img/about/bg.png")
	background-size: cover
	background-position: center
	height: 1124px
	position: relative
	z-index: 2
	margin-top: -111px
	padding-top: 120px
	padding-bottom: 70px
	&__slider
		margin-top: 210px
		width: 483px
		height: auto
		&__controls
			margin-left: 150px
			margin-top: -39px
			position: relative
			&-right
				position: absolute
				top: 73px
				left: 242px
				transform: scale(1) rotateZ(0deg)
				&:hover
					transform: scale(1.1) rotateZ(-3deg)
			&-left
				position: absolute
				top: 34px
				left: 15px
				transform: scale(1) rotateZ(0deg)
				&:hover
					transform: scale(1.1) rotateZ(-3deg)
			&-dots
				position: absolute
				top: 74px
				left: 145px
				a
					display: inline-block
					padding-right: 3px
					opacity: 0.4
					transform: scale(1)
					text-decoration: none
					&:hover
						transform: scale(1.1)
				.active
					opacity: 1
		&__text
			width: 100%
			p
				font-size: 17px
	h2
		display: none
		// text-shadow: 1px 1px 1px
		background: linear-gradient(90deg, #836622 0%, #ae8b2f 60%, #caaa53 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		width: 400px
		font-family: $font
		font-size: 40px
		// color: $main
		padding-top: 20px
		position: relative
		
.condition
	background-image: url("../img/condition/bg.png")
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	min-height: 793px
	margin-top: -19px
	padding-top: 140px
	position: relative
	z-index: 1
	&__text
		display: inline-block
		font-size: 17px
		&__block-3
			width: 340px
			margin-left: 50px
			margin-top: 55px
			transform: rotateZ(6deg)
		&__block-2
			width: 340px
			margin-left: 150px
			margin-top: 35px
			transform: rotateZ(-6deg)
		&__block-1
			width: 350px
			margin-left: 55px
			transform: rotateZ(8deg)
	&__car
		display: inline-block
		position: relative
		top: -190px

// Секция преимущества
.features
	background-image: url("../img/features/bg.png")
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	height: 1221px
	margin-top: -90px
	padding: 343px
	position: relative
	z-index: 3
	&__popup
		background-image: url('../img/features/popup/bg.jpg')
		background-size: cover
		background-position: center
		width: 100vw
		height: 100vh
		position: fixed
		top: 220px
		left: -420px
		z-index: 999999999999
		transform: scale(0)
		transition: all 0.5s ease
		visibility: hidden
		&-active
			visibility: visible
			transform: scale(1)
			top: 0
			left: 0
		&-btn-form
			display: inline-block
			background-image: url('../img/features/popup/form.png')
			width: 285px
			height: 46px
			float: right
			margin-right: 10px
			margin-top: 50px
			text-align: center
			font-family: $p_font-bold
			font-size: 22px
			color: $main
			line-height: 46px
			letter-spacing: 2px
			text-shadow: $form
			padding-left: 10px
			transition: all 0.2s ease
			text-transform: uppercase
			&:hover
				color: $main
				text-decoration: none
				font-size: 24px
		&-btn-close
			float: right
			margin-right: 70px
			margin-top: 50px
			transition: all 0.2s ease
			&:hover
				transform: rotateZ(10deg) scale(1.1)
		&__slider
			width: 330px
			position: absolute
			left: 50%
			top: 102px
			transform: translateX(-65%)
			&__block
				margin-top: 5px
				overflow: hidden
				height: 414px
				perspective: 1000px
				position: relative
				&-next
					display: flex
					justify-content: flex-end
					transform: rotateY(20deg) rotateZ(1deg)
					position: absolute
					bottom: 10px
					right: 20px
					font-family: $p_font-regular
					font-size: 14px
					color: $accent
					text-decoration: none
					outline: none
					transition: all 0.2s ease
					&:hover
						color: darken($accent, 5%)
						text-decoration: none
						img
							transform: rotateZ(-3deg)
					img
						margin-left: 3px
						margin-top: 4px
						height: 14px
				&__text
					width: 320px
					font-size: 17px
					color: $main
					transform: rotateY(20deg) rotateZ(1deg)
	&__bra
		position: relative
		&::after
			content: ''
			display: block
			background-image: url('../img/features/bra-light.png')
			background-repeat: no-repeat
			background-size: contain
			width: 623px
			height: 623px
			position: absolute
			top: -120px
			left: -571px
			animation: Light 5s linear infinite
		img
			position: absolute
			top: 39px
			left: -280px
			z-index: 1
	&__content
		&-btn
			margin-left: 17px
			margin-top: -148px
			display: block
			text-decoration: none
			width: 214px
			img
				transform: rotateZ(0deg)
			&:hover
				img
					transform: rotateZ(-5deg)
		&__text
			.smoke
				position: relative
				img
					position: absolute
					bottom: 30px
					left: 180px
					transform-origin: bottom
					animation: smokeSmal 13s ease infinite
			&-block-5
				width: 232px
				margin-top: 140px
				margin-left: -10px
			&-block-4
				width: 221px
				margin-top: 90px
				margin-left: 5px
			&-block-3
				width: 190px
				margin-top: 40px
				margin-left: 90px
			&-block-2
				width: 219px
				margin-top: 25px
				margin-left: 70px
			&-block-1
				width: 205px
				margin-left: 90px

// секция фотографий
.photos
	background-image: url('../img/photocards/bg.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	height: 1004px
	margin-top: -150px
	position: relative
	z-index: 3
	display: flex
	align-items: center
	justify-content: center
	padding-top: 190px
	&__popup
		background-color: #1c0e0b
		background-size: cover
		background-position: center
		width: 100vw
		height: 100vh
		position: fixed
		top: 0
		left: 0
		z-index: 999999
		transform: scale(0)
		transition: all 0.5s ease
		visibility: hidden
		&-active
			visibility: visible
			transform: scale(1)
		&__preload
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: 99999999
		&-btn-form
			display: inline-block
			background-image: url('../img/features/popup/form.png')
			width: 285px
			height: 46px
			float: right
			margin-right: 10px
			margin-top: 50px
			text-align: center
			font-family: $p_font-bold
			font-size: 22px
			color: $main
			line-height: 46px
			letter-spacing: 2px
			text-shadow: $form
			padding-left: 10px
			transition: all 0.2s ease
			text-transform: uppercase
			&:hover
				color: $main
				text-decoration: none
				font-size: 24px
		&-btn-close
			float: right
			margin-right: 70px
			margin-top: 50px
			transition: all 0.2s ease
			&:hover
				transform: rotateZ(10deg) scale(1.1)
		&__slider
			width: 1170px
			margin: 0 auto
			margin-top: 80px
			display: flex
			align-items: center
			&__block
				width: 1170px
				height: 780px
				position: relative
				&-next
					position: absolute
					top: 50%
					right: 40px
					transform: translateY(-50%)
					&:hover
						transform: translateY(-50%) scale(1.1)
				&-prev
					position: absolute
					top: 50%
					left: 40px
					transform: translateY(-50%)
					&:hover
						transform: translateY(-50%) scale(1.1)
				&-title
					text-align: center
					width: 1170px
					text-transform: uppercase
					color: $main
					font-size: 30px
					font-family: $font
					margin-top: -7px
				img
					position: absolute
					z-index: 3
					left: 50%
					top: 30px
					transform: translateX(-50%)
					max-width: 1170px
					max-height: 720px
					box-shadow: 0 0 50px rgba($main, 0.7)
	&__btn-next
		width: 100%
		img
			margin-left: 20px
			transition: all 0.2s ease
		&:hover
			img
				transform: scale(1.1)
	&__btn-prev
		width: 100%
		display: flex
		justify-content: flex-end
		img
			margin-right: 20px
			transition: all 0.2s ease
		&:hover
			img
				transform: scale(1.1)
	&__slider
		overflow: visible
		width: 1170px
		margin: 0 auto
		&__block
			margin-left: 24px
			margin-right: 24px
			height: 640px
			padding-top: 40px
			a
				text-decoration: none
				outline: none
				&:hover
					h3
						position: relative
						&::before
							position: absolute
							left: 15%
							bottom: 20%
							z-index: -1
							content: ''
							display: block
							width: 70%
							height: 60%
							box-shadow: 0px 0px 20px rgba($main, 1)
					.photos__slider__block-img
						position: relative
						&::before
							position: absolute
							left: 5%
							bottom: 5%
							z-index: -1
							content: ''
							display: block
							width: 90%
							height: 90%
							box-shadow: 0px 0px 60px rgba($main, 1)
			.disable
				cursor: not-allowed
			h3
				font-family: $font
				font-size: 30px
				text-align: center
				position: relative
				letter-spacing: normal
				line-height: 77px
				width: 100%
				color: $main
				text-shadow: $form
				text-transform: uppercase
				margin-top: 25px
				font-weight: normal
				&::after
					content: ''
					display: block
					position: absolute
					background-image: url('../img/photocards/title_bg.png')
					width: 325px
					height: 77px
					top: 0
					left: 29px
					z-index: -1	
			&-img
				transition: all 0.5s ease
				background-image: url('../img/photocards/border.png')
				background-size: cover
				width: 345px
				height: 467px
				padding-top: 41px
				&::before
					transition: all 3s ease
					box-shadow: 0 0 0 rgba($main, 1)
				img
					transition: all 0.5s ease
					margin-left: 44px
					width: 259px
					height: 389px
					position: relative
					z-index: -1
	.slick-center
		h3
			color: $accent
			&::after
				left: 45px
		.photos__slider__block-img
			margin-top: -30px
			width: 388px
			height: 526px
			img
				width: 294px
				height: 441px

// Секция Видео
.videos
	background-image: url('../img/videos/bg.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	height: 1091px
	margin-top: -46px
	position: relative
	z-index: 3
	&__screen
		background-image: url('../img/videos/screen.png')
		width: 970px
		height: 561px
		margin-top: 247px
		margin-left: -15px
		padding-top: 23px
		padding-left: 27px
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			top: -128px
			left: -143px
			background-image: url('../img/videos/screen-light.png')
			width: 1256px
			height: 817px
			z-index: -1
			animation: screenLight 5s linear infinite
		&-item
			position: relative
			h3
				width: 100%
				text-align: center
				font-family: $font
				font-size: 50px
				font-weight: normal
				color: $main
				position: absolute
				top: 50%
				left: 50%
				z-index: 999999
				transform: translate(-50%, -50%)
				opacity: 0.25
				letter-spacing: 9px
				text-transform: uppercase
				text-shadow: 0px 1px 0 rgb(249,186,5),0px -1px 0 rgb(249,186,5),1px 0px 0 rgb(249,186,5),-1px 0px 0 rgb(249,186,5),1px 1px 0 rgb(249,186,5),1px -1px 0 rgb(249,186,5),-1px 1px 0 rgb(249,186,5),-1px -1px 0 rgb(249,186,5)
				&::after
					content: ''
					display: block
					background-image: url('../img/videos/title-bg.png')
					width: 590px
					height: 202px
					z-index: -1
					position: absolute
					top: -70px
					left: -150px
			img
				width: 916px
				height: 516px
				position: absolute
				z-index: 9999
			video
				width: 916px
				height: 516px
	&__controls
		display: flex
		&__next
			margin-left: 130px
			&-btn
				background-image: url('../img/videos/controls/next.png')
				width: 204px
				height: 62px
				display: inline-block
				line-height: 62px
				text-align: center
				padding-left: 53px
				font-size: 35px
				font-family: $font
				color: #000000
				transition: all 0.2s ease
				&:hover
					text-decoration: none
					color: #000000
					font-size: 40px
					transform: translateX(3px)
		&__playpause
			background-image: url('../img/videos/controls/controls-bg.png')
			background-repeat: no-repeat
			width: 237px
			height: 77px
			margin-left: 350px
			display: flex
			justify-content: center
			align-items: center
			&-stop
				background-image: url('../img/videos/controls/stop-bg.png')
				width: 39px
				height: 39px
				display: inline-block
				padding-left: 14px
				line-height: 38px
				margin-top: 28px
				border-radius: 50%
				transition: all 0.2s ease
				&:hover
					transform: scale(1.05)
					box-shadow: 0 0 7px rgba(255,255,255, 0.3)
			&-play
				background-image: url('../img/videos/controls/play-bg.png')
				width: 99px
				height: 105px
				display: inline-block
				padding-left: 19px
				padding-top: 41px
				margin-left: 2px
				img
					border-radius: 50%
					transition: all 0.3s ease
				&:hover
					img
						transform: scale(1.05)
						box-shadow: 0 0 10px rgba(255,255,255, 0.5)
			&-mute
				background-image: url('../img/videos/controls/mute-bg.png')
				width: 39px
				height: 39px
				display: inline-block
				padding-left: 13px
				line-height: 38px
				margin-left: -11px
				margin-top: 28px
				border-radius: 50%
				transition: all 0.2s ease
				&:hover
					transform: scale(1.05)
					box-shadow: 0 0 7px rgba(255,255,255, 0.3)

.instagram
	background-image: url('../img/instargam/bg.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	height: 1208px
	margin-top: -28px
	position: relative
	z-index: 3
	display: flex
	align-items: center
	.container
		display: flex
		align-items: center
		position: relative
	&__plan
		position: absolute
		top: 80px
		left: -320px
		z-index: -1
	&__link
		a
			display: block
			transition: all 0.3s ease
			&:hover
				transform: scale(1.05) rotateZ(5deg)
	&__text
		width: 397px
		p
			font-size: 17px

.plane1 
	animation: plane1 2s linear

@keyframes plane1
	0%
		transform: rotate(35deg) scale(0.2)
		top: -100%        
		left: -50%
	100%
		transform: rotate(0) scale(1)
		top: 80px
		left: -320px
        
.comments
	background-image: url('../img/comments/bg.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	height: 1066px
	margin-top: -249px
	position: relative
	z-index: 3
	display: flex
	align-items: center
	.container
		position: relative
	&__plane
		position: absolute
		top: -210px
		left: -345px
	&__text
		&__block-1
		&__block-2
			float: right
			margin-right: 190px
			&__slider
				margin-top: 290px
				height: 404px
				max-width: 314px
				&__items

			&__more
				margin-top: -20px
				&-btn
					font-family: $p_font-regular
					color: #000000
					float: right
					font-size: 14px
					transform: translate(20%, -170%) rotateZ(-9deg) rotateX(22deg)
					text-decoration: none
					img
						margin-top: -7px
					&:hover
						text-decoration: none
						color: #000000
						transform: translate(20%, -170%) rotateZ(-9deg) rotateX(22deg) scale(1.1)

@keyframes plane2
    0%
        transform: rotate(25deg) scale(0.7) translateX(200%) skewX(30deg) skewY(20deg)
    30%
        transform: rotate(18deg) scale(0.7) translateX(180%) translateY(-50%) skewX(15deg) skewY(1deg)
    70%
        transform: rotate(-10deg) scale(0.9) translateX(70%) translateY(-40%) skewX(0deg) skewY(2deg)
    100%
        transform: rotate(0) scale(1) skewX(0) skewY(0)

.plane2
    animation: plane2 2s none 0s linear


@import "media" // Always at the end
