$font: "Proxima Nova Regular", sans-serif
$font-b: "Proxima Nova Bold", sans-serif
$font-sb: "Proxima Nova Semibold", sans-serif
$font-eb: "Proxima Nova Extrabold", sans-serif
$accent: #980200
$text-w: #ffffff
$text: #424242
$black: #232323
$number-w: #f4f5f8

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
